WATSONX_API_KEY=EWDVjscHQ5IKef70IssmDN3Urzcmu73nZrM6Jxkxl6Vm
WATSONX_URL=https://api.au-syd.watson-orchestrate.cloud.ibm.com/instances/6ed83dc2-ad21-4c90-a435-489b48c1b18e
WATSONX_PROJECT_ID=your_project_id_here
GRANITE_MODEL_ID=ibm/granite-3-8b-instruct
PORT=8000
